body {
  /*height: 100%;*/
}

#minesweeper {
  width: 336px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: silver;
}

h4 {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  width: 100%;
}
